.home-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home-content {
  height: 100%;
}

@media (max-width: 800px) {
  .home-content img {
    visibility: hidden;
  }
  .content-text {
    visibility: hidden;
  }
}