.players-container .player-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #adff77 0%,
      #a4ff7a 0%,
      #6bdf84 21%,
      #53be4a 52%,
      #4ab44f 78%,
      #1c7232 100%
    );
    background-size: 600% 600%;
    animation: gradient-animation 8s ease infinite;
    margin-bottom: 25px;
  }
  
  .players-container .player {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .player .image-content img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .players-container .active-players {
    display: flex;
    flex-direction: column;
  }
  
  .active-players .players-list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: scroll;
  }
  
  .players-list .active-player-item {
    display: flex;
    align-items: center;
    background-color: #b12a5b;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .active-player-item .player-image {
    width: 64px;
    height: 64px;
    background-color: gray;
    margin-right: 15px;
    border-radius: 8px;
  }
  
  .active-player-item .player-content {
    flex-direction: column;
    text-align: left;
  }