.arena-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
}

.arena-container .boss-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.arena-container .players-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boss-content .image-content,
.player .image-content {
  position: relative;
}

.image-content .health-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.health-bar progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
}

.health-bar progress[value]::-webkit-progress-bar {
  background-color: #e5652e;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.health-bar progress[value]::-webkit-progress-value {
  background-color: #70cb1b;
}

.health-bar p {
  position: absolute;
  width: 100%;
  font-weight: bold;
  color: black;
  bottom: -15px;
}

.image-content .xp-bar {
  width: 100%;
  height: 5px;
  padding-bottom: 30px;
}

.xp-bar progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
}

.xp-bar progress[value]::-webkit-progress-bar {
  background-color: #ffffff;
  overflow: hidden;
}

.xp-bar progress[value]::-webkit-progress-value {
  background-color: #000000;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Media queries*/
@media (max-width: 800px) {
  .arena-container {
    flex-direction: column;
  }
}