.boss-container .boss-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #ff8177 0%,
      #ff867a 0%,
      #ff8c7f 21%,
      #f99185 52%,
      #cf556c 78%,
      #b12a5b 100%
    );
    background-size: 600% 600%;
    animation: gradient-animation 8s ease infinite;
    margin-bottom: 25px;
  }
  
  .boss-content h2 {
    margin: 0;
    padding: 5px 0 10px 0;
  }

  .boss-content .image-content img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
  }

  /* Effects */
.boss-container .requesting {
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.boss-container .hit {
  animation: hit-bounce 1s ease;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes hit-bounce {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.boss-container .loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.boss-container .loading-indicator p {
  font-weight: bold;
  font-size: 28px;
}