html {
  color: black;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color:rgb(162, 162, 176);
}

.page {
  height: 100%;
  width: 100%;
  float: left;
}

.menu {
  color: white;
  background-color: #4B4A67;
  background-attachment:fixed;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  box-shadow: 20px 20px 20px -15px black inset;
}

.sidebar {
  display: block;
  width: 6%;
  height: 100vh;
  float: left;
  background-color: #4B4A67;
  box-shadow: 20px 20px 20px -15px black inset;
}

.characterShort {
  height: 100px;
  background-color:rgb(162, 162, 176);
}
.content {
  padding-top: 40px;
  text-align: center;
  width: 90%;
  height: 100vh;
  display: inline-block;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .sidebar {
    visibility: hidden;
  }
}
