.grid-container {
  display: grid;
  grid-template-columns:  repeat(11, 1fr);  
  grid-template-rows: repeat(11,1fr); 
  background-color: beige;
  gap: 0px 0px;
  grid-template-areas: 
  "menu menu menu menu menu menu menu menu menu menu menu"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content"
  "sidebar content content content content content content content content content content";
}

.grid-container > div { 
  /*border-color: green; 
  border-style: dotted;*/
  font-size: 40px; 
} 

.menu {
  grid-area: menu;
  background-color: #4B4A67;
}

.sidebar {
  grid-area: sidebar;
  background-color: #4B4A67;
}

.content {
  grid-area: content;
  padding-top: 40px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 10px black inset;
}

nav .active {
  background-color: white;
  color: black;
}

